
<div style="text-align:right">
<p> <%= @resource.name %> سلام</p>

<p> درخواست تغییر گذرواژه برای حساب کاربری شما ارسال شده است. لطفا با استفاده از لینک زیر گذرواژه‌ی خود را تغییر دهید. </p>

<p><%= link_to 'تغییر گذرواژه', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>اگر شما این درخواست را ارسال نکرده‌اید، این ایمیل را نادیده بگیرید.</p>
<p>تا زمانی که وارد لینک بالا نشوید، گذرواژه‌ی شما تغییر نمی‌کند.</p>
</div>