<div class="row">

	<div class="col-xs-1"></div>
  	<div class="col-xs-10 rtldir">

	<div class="panel panel-primary">
        	<div class="panel-heading" style="background-color:#094A04">    </div>
	        <div class="panel-body" style="background-color:#8BEB84; color:#070775">
			<div class="row">
				<div class="col-sm-4 fright">
					<%= image_tag "niloofar2.jpg" , :class=>"img-responsive" , :alt=>"Responsive image"%>
				</div>
				<div class="col-sm-4 fright rtldir">
					<div class="row">نیلوفر نادریان</div>
					<div class="row">دانشجوی رشته‌ی مهندسی کامپیوتر دانشگاه تهران</div>
					<div class="row">ورودی ۱۳۹۰</div>
					<div class="row">تماس: n.naderian71@yahoo.com</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
	  	</div>
	</div>


	<div class="panel panel-primary">
        	<div class="panel-heading" style="background-color:#BAF518">    </div>
	        <div class="panel-body" style="background-color:#D8ECA0; color:#070775">
			<div class="row">
				<div class="col-sm-4 fright">
					<%= image_tag "mahsa.jpg" , :class=>"img-responsive" , :alt=>"Responsive image"%>
				</div>
				<div class="col-sm-4 fright rtldir">
					<div class="row">مهساسادات شهشهانی</div>
					<div class="row">دانشجوی رشته‌ی مهندسی کامپیوتر دانشگاه تهران</div>
					<div class="row">ورودی ۱۳۹۰</div>
					<div class="row">تماس: ms.shahshahani@gmail.com</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		
	  	</div>
	</div>

	<div class="panel panel-primary">
        	<div class="panel-heading" style="background-color:#FF6600">    </div>
	        <div class="panel-body" style="background-color:#FABD93; color:#070775">
			<div class="row">
				<div class="col-sm-4 fright">
					<%= image_tag "maryam.jpg" , :class=>"img-responsive" , :alt=>"Responsive image"%></div>
				<div class="col-sm-4 fright rtldir">
					<div class="row">مریم یونسی</div>
					<div class="row">دانشجوی رشته‌ی مهندسی کامپیوتر دانشگاه تهران</div>
					<div class="row">ورودی 1390</div>
					<div class="row">تماس: younesi429@yahoo.com</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
		
	  	</div>
	</div>

	<div class="panel panel-primary">
        	<div class="panel-heading" style="background-color:#F92516">    </div>
	        <div class="panel-body" style="background-color:#F6B2AE; color:#070775">
			<div class="row">
				<div class="col-sm-4 fright">
					<%= image_tag "mohsen.jpg" , :class=>"img-responsive" , :alt=>"Responsive image"%>
				</div>
				<div class="col-sm-4 fright rtldir">
					<div class="row">محسن ذاکری</div>
					<div class="row">دانشجوی رشته‌ی مهندسی کامپیوتر دانشگاه تهران</div>
					<div class="row">ورودی 1390</div>
					<div class="row">تماس: mohsen.zakery@gmail.com</div>
				</div>
				<div class="col-sm-4"></div>
			</div>

	  	</div>
	</div>
	</div>
	<div class="col-xs-1"></div>
  
</div>
