<div class="row" style="margin-top:20px">
	<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<hr class="paper-line" >
		<p class="container-text">سلام بر همه</p>
		<hr class="paper-line" >
		<p class="container-text">امیدواریم اوقات خوشی را با ما تجربه کنید</p>
		<hr class="paper-line" >
		<p class="container-text">امیدواریم اوقات خوشی را با ما تجربه کنید</p>
		<hr class="paper-line" >
		<p class="container-text">امیدواریم اوقات خوشی را با ما تجربه کنید</p>
		<hr class="paper-line" >
		<p class="container-text">امیدواریم اوقات خوشی را با ما تجربه کنید</p>
		<hr class="paper-line" >
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-6">
		<%= image_tag "Colouring_pencils.jpg" , :class=>"img-responsive"%>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr class="paper-line" >
		<p class="container-text">سلام بر همه</p>
		<hr class="paper-line" >
		<p class="container-text">امیدواریم اوقات خوشی را با ما تجربه کنید</p>
		<hr class="paper-line" >
	</div>
</div>
