
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
<h2> تا چند لحظه‌ی دیگر بازی شروع می‌شود</h2> 

</div>
<div class="col-sm-2"></div>
</div>


<div class="row">
<div class="col-sm-5"></div>
<div class="col-sm-5">
<div class="clock" > </div>
</div>
<div class="col-sm-2"></div>
</div>

<script type="text/javascript">

var clock = jQuery('.clock').FlipClock(<%= @current_timer.value%>, {
	autoStart: true,
	countdown: true,
	clockFace: 'MinuteCounter',
	callbacks: {

		interval: function(){
			<%
			  value = @current_timer.value
			  @current_timer.value = value - 1
			  @current_timer.save
			 %>
			 alert(<%=@current_timer.value.to_s%>);


		},

		stop: function() { 
			game_id = <%= UserGame.find(params[:id]).game.id  %>;
			window.location.replace("/game_rounds/new?gameid=" + game_id);
		}

	}
	}	
);



</script>
