<!-- <p>خوش آمدید. <%= @email %>!</p> -->

<p>  <%= @resource.name %> خوش آمدید</p>

<p>با کلیک بر روی لینک زیر حساب کاربری خود را تایید نمایید:</p>

<p><%= link_to 'تایید اطلاعات', confirmation_url(@resource, confirmation_token: @token) %></p>
