<!-- 
<p>سلام <%= @resource.email %>!</p>
-->
<p> <%= @resource.name %> سلام</p>

<p>حساب کاربری شما به دلیل تعداد غیر مجاز تلاش ناموفق برای ورود مسدود شده‌است.</p>

<p>برای استفاده‌ی دوباره از حساب خود، روی لینک زیر کلیک کنید.</p>

<p><%= link_to 'فعالسازی مجدد حساب من', unlock_url(@resource, unlock_token: @token) %></p>