<div class="row" style="background-color:#FF4719;height:50px;padding:10px;border-radius:10px;margin:5px">
<%= link_to 'مشاهده‌ی اتاقهای بازی', games_path, :style=>"color:white" %>
</div>
<div class="row" style="background-color:#FF704D;height:50px;padding:10px;border-radius:10px;margin:5px">
افراد پرامتیاز
</div>
<div class="row" style="background-color:#FF9980;height:50px;padding:10px;border-radius:10px;margin:5px">
مشاهده‌ی قوانین بازی
</div>

